@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.eq {
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
.sp {
  @apply py-10;
}

h1 {
  @apply lg:text-6xl max-md:text-2xl font-[400];
}
span{
  @apply lg:text-2xl text-xl font-bold block
}

p {
  @apply text-lg max-md:text-sm text-dark;
}
.active  {
  @apply text-gradient bg-dark/10  eq;
}

.active-text{
  @apply text-black max-md:text-[0.60rem]
}

/* size style */
.size-style{
  @apply bg-black lg:p-2 p-1 rounded-full text-light lg:text-sm text-xs cursor-pointer 
}


.size-style:focus{
  @apply bg-blue text-light
}